.vscode/**
.vscode-test/**
src/**
test/**
out/**
.github/**
.eslintrc.json
.prettierrc
.mocharc.json
tsconfig*.json
*.vsix
**/*.ts
**/*.map
**/.gitignore
node_modules/**
!node_modules/esbuild-wasm/**
!node_modules/lightningcss-wasm/**
!node_modules/napi-wasm/**
!dist/**

