.vscode/**
.vscode-test/**
src/**
test/**
.github/**
.eslintrc.json
.prettierrc
.mocharc.json
tsconfig.json
tsconfig.test.json
**/*.ts
**/*.map
**/.gitignore
node_modules/**
!node_modules/esbuild-wasm/**
!node_modules/lightningcss-wasm/**
!node_modules/napi-wasm/**
!dist/**
